<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">

        </div>
        <div>
            Helping Students is our main moto
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->

<footer class="site-footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer mt-auto py-3">
                <h6>About</h6>
                <p class="text-justify">Welcome to QuestionPapers.com, your one-stop destination for all your academic
                    needs! Our platform is dedicated to helping students achieve academic excellence by providing access
                    to an extensive collection of question papers from various educational boards, universities, and
                    competitive exams.

                    At QuestionPapers.com, we understand the importance of quality study materials in a student's
                    academic journey. That's why we strive to offer a comprehensive database of question papers covering
                    a wide range of subjects and educational levels. Whether you're preparing for school exams, college
                    assessments, or competitive tests, you'll find the resources you need right here.

                    Our mission is to make learning accessible and efficient for every student. We aim to empower you
                    with the tools and resources necessary to succeed in your studies. By offering past question papers,
                    we help you practice effectively, understand the exam patterns, and improve your problem-solving
                    skills.

                    We are committed to continuously updating our database to include the latest question papers and to
                    ensure that our content is accurate and relevant. Our user-friendly platform allows you to easily
                    search for and download the question papers you need, making your study sessions more productive.

                    Join our community of learners and take the next step towards academic success with
                    QuestionPapers.com. We're here to support you every step of the way!


                </p>
            </div>
           
            <div class="f-links col-xs-6 col-md-3">
                <h6 class="f-support">Support</h6>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of services</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
        </div>
        </div>
        <hr>
    </div>
    <div class="f-container">
        <div class="row">
            <div class="col-md-8 col-sm-6 h-100 d-flex align-items-center justify-content-center">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                    <a href="#">Sam</a>.
                </p>
            </div>
        </div>
    </div>
</footer>